# Build results
/target
Cargo.lock

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

*.db/

#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
**/*_u.c
**/*_u.h
**/*_t.c
**/*_t.h
**/bin/app
**/bin/index-node
**/bin/core
**/enclave-ffi-types.h

**/target


# IDEs
*.iml
.idea
*.gz
*.core

